.vscode/
content/
complete-responsive/
UX/
venv/

src/db.sqlite3
src/base/__pycache__
src/base/secrets.py

src/accounts/__pycache__
src/accounts/migrations
src/accounts/uploads

src/election/__pycache__
src/election/migrations
src/election/uploads

election/node_modules
election/.next