@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

/* Login Form and Sign Up form*/
#form-box {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 25px !important;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
}

.box-header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 18px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.form-header {
    color: rgb(139, 139, 139);
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 27px;
}

.form-content {
    padding: 10px 20px;
    background-color: #ffffff;
}

.form-input {
    border-radius: 5px;
    color: #29303b;
    font-size: 18px;
    height: auto;
    padding: 11px 10px 12px 40px;
    margin-top: 10px;
}

.form-control {
    box-shadow: none;
    font-size: 16px;
    padding: 10px 12px;
    transition: border-color .08s ease-in-out, box-shadow .08s ease-in-out;
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(41, 48, 59, .24), 0 0 2px 0 rgba(41, 48, 59, .12);
    border-radius: 5px;
}

.submit-row {
    /* padding: 10px 20px; */
    text-align: center;
    margin-bottom: 8px;
    padding: 10px 0;
}

.submit-button {
    margin-top: 10px;
    height: 46px;
    background-color: rgb(26, 138, 111);
    border: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.submit-button:hover {
    background-color: rgb(25, 130, 105);
}

#forgot-password-link {
    color: #2474c1;
    text-decoration: none;
}

#form-link {
    color: #2474c1;
    padding: 0px 10px;
    text-decoration: none;
}

#form-box-footer {
    text-align: center;
    border-top: 1px solid #dedfe0;
    padding: 10px 20px;
    padding-bottom: 23px;
    padding-top: 18px;
}

#form-box-footer p {
    color: #8b8b8b;
    margin-bottom: 0px;
}


/* Election form */
#form-box-form {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 25px !important;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
}

label {
    color: #544d4d;
}

.form-input-div {
    padding: 0px;
}

@media (max-width: 576px) {
    .form-input-div {
        padding-left: 15px;
    }
}

.form-control-file {
    color: #544d4d;
}

.form-sub-header {
    color: #ADAEAD;
    font-size: 18px;
}