{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="d-flex flex-column justify-content-center" id="login-box">
  <div class="login-box-header">
    <h4 class="login-title">Login</h4>
  </div>
  <div class="citizen-login">
    <div class="text-center"><img class="w-25 my-2" src="{% static 'images/avatar.svg' %}" />
    </div>


    <div id="content-main">
      <form id='face-login-form' method="post" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %} {{ form.as_p }} {% endcomment %}
        <input type="number" class="citizen-input form-control" name="citizenship_number" required
          placeholder="Citizenship Number" />
        <input type="password" class="password-input form-control" name="password" required placeholder="Password" />
        <input type="hidden" name="image" id="id_image">

        <input type="hidden" name="next" value="Next">
      </form>

      <div class="submit-row">
        <button class="submit-button btn btn-block box-shadow" id="video-button">Next</button>
      </div>
      <div id="video-div" style="height: 0px">
        <video id="screenshot-video" autoplay></video>
      </div>

      <button class="submit-button btn btn-block box-shadow" id="login-button" style="display: none;">Login</button>

    </div>
    <div class="text-center">
      <a id="forgot-password-link" href="{% url 'signup' %}">Forgot Password?</a>
    </div>
  </div>

  <div id="login-box-footer">
    <p>Don&#39;t you have an account?<a id="register-link" href="{% url 'signup' %}">Sign Up!</a></p>
  </div>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'authentication/js/login.js' %}"></script>
{% endblock content %}