{% include 'base.html' %}

{% block 'content' %}
<div id="content-main">

  <form id='face-login-form' method="post" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="hidden" name="next" value="Next">
  </form>

  <button id="video-button">Next</button>
  <video id="screenshot-video" autoplay></video>
  <button id="login-button" style="display: none;">Login</button>

</div>
{% endblock 'content' %}

{% load static %}
<script type="text/javascript" src="{% static 'authentication/js/login.js' %}"></script>