{% extends 'base.html' %}

{% load static %}

{% block content %}


<div id="form-box-form" class="d-flex flex-column justify-content-center">
    <div class="box-header">
        <h4 class="form-header">Password Reset</h4>
    </div>
    <div class="form-content">
        <div class="text-center"></div>
        <div class="content-main">
            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-group row h-100">
                    <label class="col-sm-3 my-auto pr-2">Email</label>
                    <div class="col-sm-5 form-input-div">
                        <input type="email" class="form-input form-control" name="email" required
                            placeholder="Email" />
                    </div>
                </div>

                <div class="text-center">
                    <button class="submit-button btn box-shadow px-4">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}