{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="d-flex flex-column justify-content-center" id="form-box">
    <div class="box-header">
        <h4 class="form-header">Password Change</h4>
    </div>
    <div class="form-content">
        {% comment %} <div class="text-center"><img class="w-25 my-2" src="{% static 'images/avatar-login.svg' %}"
                style="opacity:0.6;" />
        </div> {% endcomment %}

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}


            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <input type="password" class="form-input form-control" name="old_password" style="margin-top: 10px;" required
                    placeholder="Old password" />
            <input type="password" class="form-input form-control" name="new_password1" style="margin-top: 10px;" required
                    placeholder="New password" />
            <input type="password" class="form-input form-control" name="new_password2" style="margin-top: 10px;" required
                    placeholder="Confirmation password" />

            <button type="submit" class="submit-button btn btn-block box-shadow">Change password</button>
        </form>
        {% endblock content %}