{% include 'base.html' %}

{% block 'content' %}
<div id="content-main">

    <form id='face-register-form' method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}

    </form>

    <button id="video-button">Next</button>
    <video id="screenshot-video" autoplay></video>
    <button id="register-button" style="display: none;">Register</button>

</div>
{% endblock 'content'%}
{% load static %}
<script type="text/javascript" src="{% static 'authentication/js/register.js' %}"></script>